button{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    height: 100vh;
}
.rocket{
    font-size: 25px;
    width:210px;
    height: 100vh;
    color: aliceblue;
    background-color: antiquewhite;
    transition: all 0.5s ease-in-out;
    transform: translateX(-1000%);
}
.hi{
    padding: 30px;
    
}
.hi:hover{
    text-decoration:underline;
}